<!DOCTYPE html>
<html>
    <%- include('../partials/head')  %> 
    <body id="bodyCarritoCompras">
        <%- include('../partials/header')%>
        <div class="main">

            <h2>Lista Compras</h2>

            <table class="ListaCompras">    
                <% for(let i=0;i<DetalleCompra.length;i++){ %>
                    <tr class="producto">
                        <td class="detalle">
                            <img src="/images/product/<%= DetalleCompra[i].image_product %>" alt="imagen Producto">
                            <p> <%= DetalleCompra[i].nameProduct %> </p>
                        </td>
                        <td class="precio">
                            <p> $<%= DetalleCompra[i].priceUnit %>  </p>
                        </td>
                        <td class="unidades">
                            <button type="button"> <i class="fas fa-plus"></i> </button>
                            <p> <%= DetalleCompra[i].stock %>  </p>
                            <button type="button"> <i class="fas fa-minus"></i> </button>
                        </td>
                        <td class="eliminar">
                            <form action="/Producto/Carrito/<%= DetalleCompra[i].id%>/eliminar?_method=delete" method="post">
                                <button type= "submit"> <i class="far fa-trash-alt"></i> </button>
                            </form>
                           
                        </td>
                    </tr> 
                <% } %>
                <tr>
                    <td>
                        <H2>Total</H2>
                    </td>
                    <td>
                        xxxxxx
                    </td>
                </tr>
            </table>
            <section class="special">
                <button submit >Realizar Pedido</button>
                <button onclick="location.href='/producto'" > Seguir Comprando  </button> <!--es un boton para redireccionar, para ello usa la etiqueta location y usa su propiedad href asignandole a esta la ruta-->
            </section>
        </div>
        <%- include('../partials/footer')%>
    </body>
</html>