<!DOCTYPE html>
<html>
    <%- include('../partials/head')  %> 
    <body id="bodyCatalogo">
        <%- include('../partials/header')%>
        <!--contendio-->
        <section class="Productos">

            <% for(let i=0;i<producto.length;i++){ %> 
                <article>
                    <section class="imagenProducto">
                        <a href= <%= "/Producto/"+producto[i].id %>  > <img src = "/images/product/<%= producto[i].image_product %>"  alt="imagen Ejemplo">    </a>    
                    </section>
                    <section class="datos">
                        <b>   <label for="Nombre" class="Nombre"><%= producto[i].nameProduct %> </label>   </b>    
                        <label for="Precio" class="Precio">$<%= producto[i].priceUnit %> </label>
                    </section>
                </article>
            <% } %> 
            <!--copias-->
                
            </article>
        </section>
        <%- include('../partials/footer')%>

    </body>
</html>