<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width">

        <link rel="stylesheet" href="/css/CatalogoStyless.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet">

    </head>
    <body>
        <%- include('../partials/header')%>
        <!--contendio-->
        <section class="Productos">

            <% for(let i=0;i<producto.length;i++){ %> 
                <article>
                    <section class="imagenProducto">
                        <a href= <%= "/Producto/"+producto[i].id %>  > <img src = <%= producto[i].image %>  alt="imagen Ejemplo">    </a>    
                    </section>
                    <section class="datos">
                        <b>   <label for="Nombre" class="Nombre"><%= producto[i].nombre %> </label>   </b>    
                        <label for="Precio" class="Precio">$<%= producto[i].precio %> </label>
                    </section>
                </article>
            <% } %> 
            <!--copias-->
                
            </article>
        </section>
        <%- include('../partials/footer')%>

    </body>
</html>