<!DOCTYPE html>
<html>
<%- include('../partials/head')  %> 
<body id="bodyLogin">
    <%- include('../partials/header')%>

        <div class="wrapper">
            <form name= "loginForm" id="loginForm" action="/user/loading" method="post" class="form">
                <div class="title">
                    Inicio de sesi칩n 
                </div>
                <input type="text" class="input" placeholder="Usuario" name="user">
                <p id="errUser"></p>
                <% if(locals.notExist){%>
                    <p>el Usuario o la contrase침a no son validos</p>
                <% } %>  
                <% if(locals && locals.errors && locals.errors.user){ %>
                    <p> <%= errors.user.msg %> </p>
                <% } %>
                
                <input type="password" class="input" placeholder="Password" name="pasword" >
                <p id="errPassword"></p>  
                <% if(locals && locals.errors && locals.errors.pasword){  %>
                    <p> <%= errors.pasword.msg %> </p>
                <% } %>
                <% if(locals.notExist){%>
                    <p>el Usuario o la contrase침a no son validos</p>
                <% } %> 

                <button type="submit">Inicia Sesi칩n</button>
            </form>
            
        </div>

        <%- include('../partials/footer')%>
</body>
</html>