<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width-device-width">
        <link rel="stylesheet" href="/css/perfil.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/header')%>
        <div class="wrapper">
            <div class="title">
                MI PERFIL 
            </div> 
            <label for="">Nombre de usuario: <%= usuario.username %> </label>
            <div class ="imagen-avatar-perfil"> 
            <img src="/images/avatar/<%= usuario.avatar_image %>"  alt="imagendeperfil" class="imagen-perfil" style="width: 100%;">
            </div>
            <form name="swapImage" action="/User/<%= usuario.username %>/editImage?_method=put" method="post" enctype="multipart/form-data">
                <input type="file" name="newAvatar">
                <p class="error" id="newAvatar"></p>
                <button type="submit" id="cambiarImagen">Cambiar Imagen</button>
            </form>

            <section class="infoUser">
                <label for="">Nombre Completo: <%= usuario.full_name %> </label>
                <label for="">Mail:<%= usuario.email %> </label>
                <label for="">Celular:054 11-<%= usuario.phone %>  </label>
            </section>

            <form name="cambiarPass" action="/User/<%= usuario.username %>/editPerfil?_method=put" method="post" class="swapPass">
                <label for="">Anterior Contrase単a: </label>
                <input type="password" name="prevPassword" >
                <p class="error" id="prevPassword"></p>

                <label for="">Nueva contrase単a:</label>
                <input type="password" name="newpassword">
                <p class="error" id="newpassword"></p> 

                <label for="">Confirmar contrase単a:</label>
                <input type="password" name="newpasswordConfirm"> 
                <p class="error" id="newpasswordConfirm"></p>

                <button type="submit">Cambiar Contrase単a</button>
            </form>
        </div>
        <%- include('../partials/footer')%>
        <script src="/scripts/perfil.js"> </script>
    </body>

</html>
