<!DOCTYPE html>
<html>
    <%- include('../partials/head')  %> 
    <body id="bodyRegister">
      <%- include('../partials/header')%>
    
        <div class="wrapper">
            <div class="title">
              Formulario de Registro 
            </div>
            

            <form name="registerForm" id="registerForm" action="/User/Alta" method="post" enctype="multipart/form-data" class="form">
              <div class="inputfield">
                <label>Nombre completo</label>
                <input type="text" class="input" name="nombreCompleto" required>
                <p id="errName" class="error">  </p>
                <% if(locals && locals.errors && locals.errors.nombreCompleto){ %>
                  <p class="error"><%= errors.nombreCompleto.msg %> </p>
                <% } %>
              </div>
               
          
              <div class="inputfield">
                <label>E-mail</label>
                <input type="text" class="input" name= "mail" required>
              </div>
              <p id="errMail" class="error"></p>
              <% if(locals && locals.errors && locals.errors.mail){  %>
                <p class="error"><%= errors.mail.msg %> </p>
                <% } %>   
              <div class="inputfield">
                <label>Celular</label>
                <input type="number" class="input" name="celular" required >
                <p id="errCelular" class="error"></p>
              </div>
              <% if(locals && locals.errors && locals.errors.celular){  %>
                <p class="error"><%= errors.celular.msg %> </p>
                <% } %> 
                  <!--Datos de ingreso-->      
              <div class="inputfield">
                <label>Nombre de usuario</label>
                <input type="text" class="input" name="user" required>
                <p id="errUser" class="error"></p>
              </div>
              <% if(locals && locals.errors && locals.errors.user){  %>
                <p class="error"><%= errors.user.msg %> </p>
                <% } %>   
              <div class="inputfield">
                <label>Contraseña</label>
                <input type="password" class="input" name="pasword" required>
                <p id="errorPasword" class="error" ></p>
              </div> 
              <% if(locals && locals.errors && locals.errors.pasword){  %>
                <p class="error"><%= errors.pasword.msg %> </p>
                <% } %> 
              
              
              <div class="inputfield">
                  <label>Confirmar contraseña</label>
                  <input type="password" class="input" name="passwordConfirm" required>
                  <p id="errConfirmPassword" class="error"></p>
                  <br> 
                  <% if(locals && locals.errors && locals.errors.passwordConfirm){  %>
                    <p class="error"><%= errors.passwordConfirm.msg %> </p>
                    <% } %>  
              </div> 

              <!--imagen de perfil-->
              <div class="avatar-input">
              <input id="imageEp" type="file" class="image-profile" name="avatar" >  
              <p class="error"></p>
              </div>        
              <!--terms-->

              <div class="termsAndConditions" >
                  <input type="checkbox" name="terminosyCondiciones" required>
                  <h1>Acepto términos y condiciones</h1>
              </div>
        
              <button type="submit" id="crearUsuario"> Crear Cuenta </button>
              
              
                <!--class container-signin-->
          
              <div class="container-signin">
                <p>¿Ya tienes una cuenta?<a href="#">Iniciar sesión</a>.</p>
              </div>      
            </form>
        </div>	
        <%- include('../partials/footer')%>
        <script src="/scripts/register.js"> </script>    <!--tuve que agregar el script en el register.ejs por un error en login.ejs-->
      </body>
</html>
  